github "stephanecopin/NSInvocation-Helpers" ~> 1.0
git "git@github.com:Fueled/ethanol-validation-formatting.git" ~> 0.2
git "git@github.com:Fueled/ethanol-tools.git" ~> 0.1
git "git@github.com:Fueled/ethanol-utilities.git" ~> 0.1
